
@{
    ViewBag.Title = "Prijava";
}

<h2>Prijava</h2>

<form>
    <table>
        <tr>
            <td>Ime:</td>
            <td>@Html.TextBox("ime")</td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td>@Html.TextBox("prezime")</td>
        </tr>
        <tr>
            <td>Dolazim:</td>
            <td>@Html.DropDownList(name: "dolazak", optionLabel: "--- odaberi ---", selectList: new List<SelectListItem>() {
                    new SelectListItem { Text="DA", Value="da" },
                    new SelectListItem { Text="NE", Value="ne" }
                })</td>
        </tr>
        <tr>
            <td>Imam laptop:</td>
            <td>@Html.CheckBox("laptop")</td>
        </tr>
        <tr>
            <td>
                <input type="submit" formmethod="post" value="Posalji"/>
            </td>
        </tr>
    </table>
</form>