/Java/JavaVjezbe02/nbproject/private/
/Java/JavaVjezbe02/build/
/Java/JavaVjezbe03/nbproject/private/
/Java/JavaVjezbe03/build/
/Java/JavaVjezbe04/nbproject/private/
/Java/JavaVjezbe04/build/
/Java/JavaVjezbe05/nbproject/private/
/Java/JavaVjezbe05/build/
/Java/JavaVjezbe05/dist/
/Java/CharsetMagician/nbproject/private/
/Java/JavaVjezbe06/nbproject/private/
/Java/JavaVjezbe06/build/