
@{
    ViewBag.Title = "Kalkulator";
}

<h2>Kalkulator</h2>

<p>
    Pokrece se pozivom metode <b>Izracunaj</b>.
    Metoda prima 3 parametra: a, b i operacija.
    Parametar moze imati slijedece vrijednosti:
</p>

<ul>
    <li>z - zbrajanje</li>
    <li>o - oduzimanje</li>
    <li>m - mnozenje</li>
    <li>d - dijeljenje</li>
</ul>

<p>Parametre proslijedjujete prema slijedecim URL predloscima:</p>

<ul>
    <li>Zbroji-10-20</li>
    <li>Oduzmi-10-20</li>
    <li>Mnozi-10-20</li>
    <li>Dijeli-10-20</li>
</ul>

<a href="Korijen.html">Klikni za pokretanje aplikacije korijen</a>