@model IEnumerable<Zadatak01.Kupac>

@{
    ViewBag.Title = "Index";
}

@Html.DropDownList("GradID", null, htmlAttributes: new { @class = "form-control" })


@if (Model != null)
{
    foreach (var item in Model)
    {
        @Html.Partial("_JedanKupac", item);
    }
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        $('#GradID').change(function () {
            var s = 'Kupacs/Index/' + $('#GradID').val();
            window.location.pathname = s;
        })
    </script>
}