<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="AdventureWorksOBP" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorksOBP;Integrated Security=True;Connect Timeout=5"/>
    <add name="RWADatabase" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RWADatabase;Integrated Security=True;Connect Timeout=5"/>
    <add name="PPPKDatabase" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PPPKDatabase;Integrated Security=True;Connect Timeout=5"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
