<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSVjezbe09PortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/IISVjezbe09Server/WSVjezbe09"
                binding="basicHttpBinding" bindingConfiguration="WSVjezbe09PortBinding"
                contract="WSJava.WSVjezbe09" name="WSVjezbe09Port" />
        </client>
    </system.serviceModel>
</configuration>